html{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #DDDDDD;
    height: 100%;
    margin: 0;
    padding: 0;
}

p{
  font-size: 14px;
  margin: 0;
}

.background{
    background-color: #0B090A;
    border-radius: 30px;
    border: none;
    margin: 20px;
    height: calc(100vh - 40px);
}

.block-titulo{
    position: absolute;
    background-color: #DDDDDD;
    height: 120px;
    width: 600px;
    display: flex;
    justify-content: center;
}

.curva-titulo-tr{
    position: absolute;
    right: -60px;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50% 0 0 0;
    border: none;
    box-shadow: #DDDDDD -12px -12px;
}

.curva-titulo-br{
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 0 0 50% 0;
    border: none;
    box-shadow: #0B090A 12px 12px;
}

.curva-titulo-bl{
    position: absolute;
    left: 0px;
    bottom: -60px;
    width: 60px;
    height: 60px;
    background-color: #0B090A;
    border-radius: 50% 0 0 0;
    border: none;
    box-shadow: #DDDDDD -12px -12px;
}

.container-titulo{
    background-color: #0B090A;
    display: flex;
    flex-direction: row;
    color: #DDDDDD;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 20px 70px;
    width: 100%;
    border-radius: 14px 14px 14px 80px;
    border: none;
}

.img-titulo{
    position: absolute;
    left: 30px;
    top: -14px;
    height: 8rem;
    width: 8rem;
}

.titulo{
    font-size: 32px;
    font-weight: lighter;
    margin-right: 40px;
}

figcaption{
    display: none;
}

.busca{
    position: absolute;
    right: 60px;
    top: 60px;
}

input{
    width: 400px;
    height: 56px;
    border-radius: 50px;
    border: none;
    padding-left: 40px;
    font-size: 24px;
    background-color: #DDDDDD;
}

input::placeholder{
    color: #111111/70;
}

.img-busca{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
}

#container-atletas{
    display: grid;
    position: absolute;
    grid-template-columns: auto auto auto auto auto;
    left: 400px;
    top: 160px;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 10px;
    border: 3px solid #DDDDDD;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(20px);
    cursor: pointer;
}

.img-atleta{
    height: 9rem;
    width: 9rem;
    border-radius: 100px;
    object-fit: cover;
    margin: 0 28px;

}

.detalhes-atleta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -30px 28px 0 28px;
    gap: 60px;
}

.wrap-modalidade{
    background-color: #111111;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.img-modalidade{
    height: 24px;
    border-radius: 20px;
    object-fit: cover;
}

.img-pais{
    width: 32px;
    object-fit: cover;
}

.nome-atleta{
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 10px;
    color: #DDDDDD;
}

.pregos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prego-superior{
    height: 6px;
    width: 6px;
    background-color: #DDDDDD;
    border-radius: 4px;
    margin: 8px 8px 0 8px;
}

.prego-inferior{
    height: 6px;
    width: 6px;
    background-color: #DDDDDD;
    border-radius: 4px;
    margin: 0 8px 8px 8px;
    bottom: 0;
}

.redirecionamento{
    position: absolute;
    bottom: 20px;
    width: 340px;
    height: 300px;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.curva-olimpiadas{
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
}

.curva-olimpiadas.tr{
    left: 0;
    top: -60px;
    background-color: transparent;
    border-radius: 0 0 0 50%;
    box-shadow: #DDDDDD -12px 12px;
}

.curva-olimpiadas.tl{
    right: 0;
    top: 0;
    background-color: transparent;
    border-radius: 0 50% 0 0;
    box-shadow: #0B090A 12px -12px;
}

.curva-olimpiadas.br{
    right: -60px;
    bottom: 0;
    background-color: transparent;
    border-radius: 0 0 0 50%;
    box-shadow: #DDDDDD -12px 12px;
}

.img-olimpiadas{
    height: 4.25rem;
    width: 4.25rem;
    margin-top: 40px;
}

.mais-info{
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.btn-olimpiadas{
    display: inline-block;
    padding: 14px 60px;
    text-align: center;
    background-color: #0B090A;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-weight: 400;
}

.paginacao{
    position: absolute;
    bottom: 20px;
    left: 580px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#paginas{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width:36px;
    height:36px;
    font-size: 20px;
    font-weight: 500;
    color: #DDDDDD;
    text-align: center;
    border: #DDDDDD 2px solid;
    border-radius: 100%;
}

.pagina.selecionada{
    width:36px;
    font-size: 24px;
    font-weight: 500;
    color: #F44C71;
    text-align: center;
}

.navegacao{
    height: 18px;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 60px;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
}

.media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    text-decoration-line: none;
}

.media-icon{
    height: 20px;
    width: 20px;
    background-color: #0B090A;
    border-radius: 6px;
    padding: 4px;
}

a{
    text-decoration: none;
    color: #111111;
}

.curva-footer-tr{
    position: absolute;
    right: 0;
    top: -40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 0 0 50% 0;
    border: none;
    box-shadow: #DDDDDD 12px 12px;
}

.curva-footer-bl{
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 0 0 50% 0;
    border: none;
    box-shadow: #DDDDDD 12px 12px;
}

.curva-footer-tl{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50% 0 0 0;
    border: none;
    box-shadow: #0B090A -12px -12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.container-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #DDDDDD;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.header-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.wrap-modalidade-modal{
    background-color: #111111;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.img-modalidade-modal{
    height: 48px;
    border-radius: 20px;
    object-fit: cover;
}

.body-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 20px;
}

.imagem-atleta{
    height: 240px;
    width: 240px;
    border-radius: 160px;
    object-fit: cover;
    margin: 0 auto;
    margin: 10px 0 10px 30px;
}

.info-atleta{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    gap: 20px;
    margin: 10px 30px 10px 0;
}

.medalhas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ouro{
    height: 48px;
    width: 48px;
    background-color: #FFD700;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;

}
.prata{
    height: 48px;
    width: 48px;
    background-color: #C0C0C0;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
}
.bronze{
    height: 48px;
    width: 48px;
    background-color: #CD7F32;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
}

.footer-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0B090A;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

.imagem-bandeira{
    height: 96px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}